.title-font {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

.brand-logo {
    margin-left: 10px;
}

.recipe-image {
    max-width: 80%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}