body {
    font-family: 'Rubik', sans-serif;
}

.title-font {
    font-weight: 600;
}

.par-text {
    line-height: 30px;
    font-size: 120%;
}

.brand-logo {
    margin-left: 10px;
}

.recipe-image {
    max-width: 80%;
}

.recipe-button {
    margin-left: 10px;
}

.home-title {
    margin-top: 30px;
}

.home-info {
    margin-top: 30px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
}