{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12 center home-title">
            <h2 class="title.text green-text text-lighten-2">Welcome to the Cook Book</h2>
            <h3 class="title.text green-text text-lighten-2">Powered by You</h3>
        </div>
        <div class="col s12 home-info center">    
            <p class="par-text">
                Welcome to your cook book, this website is made up of recipes shared by the public and available to anyone
                that wanted to give something new a try.
                <br><br>
                The cook book is bought to you by John Lewis. John Lewis is able to offer a wide variety of kitchen equipment 
                for every level of cooks, whether beginner or professional, if you are missing something from one of the recipes why not take a look a the selection available at John Lewis
            </p>
            <a class="par-text" href="https://www.johnlewis.com/browse/home-garden/view-all-kitchen-utensils/_/N-dvb">View the selection here</a>
        </div>
    </div>
</div>

{% endblock %}