{% extends "base.html" %}
{% block content %}
    
    <div class="container">
        <h3 class="title-font center green-text text-lighten-2">Your Recipes</h3>
        <ul class="collapsible popout center-align">
            {% for recipe in recipes %} 
                <li>
                    <div class="collapsible-header green"><i class="material-icons">arrow_downward</i>
                        <div class="col s8">
                            <h6 class="title-font">
                                Recipe : {{ recipe.recipe_name }}
                            </h6>
                        </div>
                        <div class="col s4">
                            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id)}}" class="btn-small yellow lighten-2 black-text recipe-button">Edit</a>
                            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small red lighten-2 black-text recipe-button">Delete</a>
                        </div>
                    </div>
                    <div class="collapsible-body">
                        <span>
                            <img class="recipe-image" src=" {{ recipe.image_source }}" alt=" {{ recipe.recipe_name }}"><br><br>
                            Type of Dish :<br>{{ recipe.recipe_type }}<br><br>
                            Difficulty : <br>{{ recipe.recipe_diff }}<br><br>
                            Prep time : <br>{{ recipe.prep_time }} minutes<br><br>
                            Cook time : <br>{{ recipe.cook_time }} minutes<br><br>
                            How many will it serve : <br>{{ recipe.number_served }}<br><br>
                            Ingredients : <br>{{ recipe.ingredients }}<br><br>
                            Things you'll need : <br>{{ recipe.tools_needed }}<br><br>
                            Step by step : <br>{{ recipe.cook_steps }}<br><br>
                            Added by : <br>{{ recipe.user }}<br><br>
                        </span>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <br><br><br>
    </div>

{% endblock %}
