{% extends "base.html" %}
{% block content %}
    
    <div class="container">
        <h3 class="title-font center">Your Recipes</h3>
        <ul class="collapsible popout">
            {% for recipe in recipes %} 
                <li>
                    <div class="collapsible-header green"><i class="material-icons">arrow_downward</i>
                        Recipe : {{ recipe.recipe_name }}
                    </div>
                    <div class="collapsible-body">
                        <span>
                            <img class="recipe-image" src=" {{ recipe.image_source }}" alt=" {{ recipe.recipe_name }}"><br><br>
                            Type of Food : {{ recipe.cuisine }}<br><br>
                            Difficulty : {{ recipe.recipe_diff }}<br><br>
                            Prep time : {{ recipe.prep_time }} minutes<br><br>
                            Cook time : {{ recipe.cook_time }} minutes<br><br>
                            How many will it serve : {{ recipe.number_served }}<br><br>
                            Ingredients : {{ recipe.ingredients }}<br><br>
                            Things you'll need : {{ recipe.tools_needed }}<br><br>
                            Step by step : {{ recipe.cook_steps }}<br><br>
                        </span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
