<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recipes</title>
</head>
<body>
    {% for recipe in recipes %} 
        {{ recipe.recipe_name }}<br>
        {{ recipe.recipe_diff }}<br>
        {{ recipe.prep_time }}<br>
        {{ recipe.cook_time }}<br>
        {{ recipe.ingredients }}<br>
        {{ recipe.cook_steps }}<br>
        {{ recipe.tools_needed }}<br>
        {{ recipe.number_served }}<br>
        {{ recipe.cuisine }}<br>
    {% endfor %}
</body>
</html>